app01/Service References/store/store.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OKToPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sMaDienLuc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iSoTienDaNop" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iMonth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iYear" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OKToPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OKToPayResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InValid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sMaDienLuc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InValidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OKToPaySoapIn">
    <wsdl:part name="parameters" element="tns:OKToPay" />
  </wsdl:message>
  <wsdl:message name="OKToPaySoapOut">
    <wsdl:part name="parameters" element="tns:OKToPayResponse" />
  </wsdl:message>
  <wsdl:message name="InValidSoapIn">
    <wsdl:part name="parameters" element="tns:InValid" />
  </wsdl:message>
  <wsdl:message name="InValidSoapOut">
    <wsdl:part name="parameters" element="tns:InValidResponse" />
  </wsdl:message>
  <wsdl:portType name="storeSoap">
    <wsdl:operation name="OKToPay">
      <wsdl:input message="tns:OKToPaySoapIn" />
      <wsdl:output message="tns:OKToPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InValid">
      <wsdl:input message="tns:InValidSoapIn" />
      <wsdl:output message="tns:InValidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="storeSoap" type="tns:storeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OKToPay">
      <soap:operation soapAction="http://tempuri.org/OKToPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InValid">
      <soap:operation soapAction="http://tempuri.org/InValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="storeSoap12" type="tns:storeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OKToPay">
      <soap12:operation soapAction="http://tempuri.org/OKToPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InValid">
      <soap12:operation soapAction="http://tempuri.org/InValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="store">
    <wsdl:port name="storeSoap" binding="tns:storeSoap">
      <soap:address location="http://localhost:8010/store.asmx" />
    </wsdl:port>
    <wsdl:port name="storeSoap12" binding="tns:storeSoap12">
      <soap12:address location="http://localhost:8010/store.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>